.#{$namespace}-block-columns {
  &__list {
    &-desc {
      &--results {
        margin-bottom: spaces('15') !important;
      }

      &:last-child {
        margin-bottom: 0 !important;
      }
    }

    &-title {
      &--results {
        margin-bottom: 0 !important;
      }
    }
  }
}
