.#{$namespace}-cases-nav {
  &__list {
    list-style: none;
    margin: 0;

    @include min-screen(mq('tablet')) {
      @include mdc-layout-grid('tablet', get-grid-margin('tablet'));

      position: fixed;
      bottom: 0;
      left: 0;
    }

    .#{$namespace}-cases-nav--absolute & {
      position: absolute;
      bottom: 5rem;
    }
  }

  &__title,
  &__item {
    margin: 0;
  }

  &__title {
    @include size-normal;

    margin-bottom: spaces('20');
  }

  &__item {
    @include size-normal;

    margin-bottom: spaces('10');

    &:last-child {
      margin-bottom: 0;
    }
  }
}
