.#{$namespace}-footer {
  $this: &;

  border-top: 1px solid color('gray');
  cursor: pointer;

  @include min-screen(mq('tablet')) {
    height: 43vh;
    overflow: hidden;
  }

  @include min-screen(mq('laptop')) {
    height: 53vh;
  }

  &--nav {
    border-top: 0;
    height: auto;
  }

  &__links {
    &:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__image {
    margin: 0 !important;
    transition: all 300ms ease-in-out;
    filter: grayscale(100%);

    @include min-screen(mq('tablet')) {
      margin-top: spaces('120') !important;

      #{$this}:hover & {
        transform: translateY(-10%);
        filter: grayscale(0%);
      }
    }
  }
}
