.#{$namespace}-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: color('white');
  height: $header-height-mobile;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out;
  z-index: 10;

  @include min-screen(mq('tablet')) {
    align-items: flex-start;
    height: $header-height-desktop;
  }

  &--home {
    @include min-screen(mq('tablet')) {
      background: transparent;
    }
  }

  &--hide {
    transform: translateY(-100%);
  }

  &__logo,
  &__english-link,
  &__next-case-link {
    display: flex;
    align-items: center;
  }

  &__logo {
    @include font-regular;
    @include size-normal;
  }

  &__english-link {
    justify-content: flex-end;

    @include min-screen(mq('tablet')) {
      justify-content: flex-start;
    }
  }

  &__next-case-link {
    justify-content: flex-end;
  }
}
