.#{$namespace}-image {
  $this: &;

  &__photo {
    width: 100% !important;
    position: relative;

    &--right {
      order: 0;

      @include min-screen(mq('laptop')) {
        order: 1;
      }
    }

    &:after {
      background-image: url('~assets/vectors/icon-play-box.svg');
      background-color: rgba(color('black'), 0.5);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 3.2rem;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 200ms ease-in-out;
      cursor: pointer;
      display: none;

      #{$this}--player & {
        display: block;
      }

      @include min-screen(mq('tablet')) {
        background-size: 6.4rem;
      }
    }

    #{$this}--player & {
      &:hover {
        &:after {
          background-color: rgba(color('black'), 0.8);
        }
      }
    }
  }

  &__title {
    display: flex;

    &--bottom {
      align-items: flex-end;
    }
  }

  &--large + .#{$namespace}-block-content {
    @include min-screen(mq('tablet')) {
      margin-top: -12.6rem;
      z-index: 99;
    }

    @include min-screen(mq('laptop')) {
      margin-top: -9.6rem;
    }
  }
}
