.#{$namespace}-player {
  background-color: rgba(color('black'), 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  transform: rotate(90deg);
  transform-style: preserve-3d;
  transform-origin: 50vw 50vw;
  z-index: 20;

  @media screen and (orientation: landscape) {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }

  &__video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      width: 100%;
      height: 100%;

      @include min-screen(mq('laptop')) {
        width: 78vw;
        height: 80vh;
      }
    }
  }

  &__close-btn {
    @include svg-size {
      width: 1.5rem;
      height: 1.5rem;
      transition: transform 300ms ease-in-out;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    background: color('white');
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: 30;
    border: 0;
    cursor: pointer;

    &:hover {
      svg {
        transform: scale(1.3);
      }
    }

    @include min-screen(mq('laptop')) {
      top: 4rem;
      right: 4rem;
    }
  }
}
