@font-face {
  font-family: 'NHaasGroteskTXPro-55Rg';
  src: url('~assets/fonts/373886_0_0.eot');
  src: url('~assets/fonts/373886_0_0.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/373886_0_0.woff2') format('woff2'),
    url('~assets/fonts/373886_0_0.woff') format('woff'),
    url('~assets/fonts/373886_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NHaasGroteskTXPro-65Md';
  src: url('~assets/fonts/373886_1_0.eot');
  src: url('~assets/fonts/373886_1_0.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/373886_1_0.woff2') format('woff2'),
    url('~assets/fonts/373886_1_0.woff') format('woff'),
    url('~assets/fonts/373886_1_0.ttf') format('truetype');
}
