@function mq($mq-value) {
  @return map-get($mq, $mq-value);
}

@function z-index($value) {
  @return map-get($z-index, $value);
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function spaces($spaces-name) {
  @return map-get($spaces, $spaces-name);
}

@function get-grid-columns($type-of-device) {
  @return map-get($mdc-layout-grid-columns, $type-of-device);
}

@function get-grid-margin($type-of-device) {
  @return map-get($mdc-layout-grid-default-margin, $type-of-device);
}

@function get-grid-gutter($type-of-device) {
  @return map-get($mdc-layout-grid-default-gutter, $type-of-device);
}

@function fluid-unit(
  $min-value: 0,
  $max-value: $min-value,
  $min-vw: mq('mobile'),
  $max-vw: mq('desktop')
) {
  @return calc(
    #{$min-value} + #{(
        ($max-value / ($max-value * 0 + 1)) -
          ($min-value / ($min-value * 0 + 1))
      )} * ((100vw - #{$min-vw}) / #{(
            ($max-vw / ($max-vw * 0 + 1)) - ($min-vw / ($min-vw * 0 + 1))
          )})
  );
}
