// Generator for color classes
// ----------------------------------------------------------

@mixin generate-color-clss {
  @each $name, $color in $colors {
    .#{$namespace}-color-#{$name} {
      color: $color;
    }

    .#{$namespace}-bg-color-#{$name} {
      background-color: $color;
    }

    .#{$namespace}-border-color-#{$name} {
      border-color: $color;
    }

    .#{$namespace}-border-top-color-#{$name} {
      border-top-color: $color;
    }

    .#{$namespace}-border-right-color-#{$name} {
      border-right-color: $color;
    }

    .#{$namespace}-border-bottom-color-#{$name} {
      border-bottom-color: $color;
    }

    .#{$namespace}-border-left-color-#{$name} {
      border-left-color: $color;
    }

    .#{$namespace}-svg-fill-#{$name} {
      polygon {
        fill: $color;
      }

      path {
        fill: $color;
      }

      ellipse {
        fill: $color;
      }

      circle {
        fill: $color;
      }
    }

    .#{$namespace}-svg-stroke-#{$name} {
      path {
        stroke: $color;
      }

      ellipse {
        stroke: $color;
      }

      circle {
        stroke: $color;
      }
    }
  }
}

@mixin generate-space-clss {
  @each $name, $size in $mq {
    @include min-screen($size) {
      @each $type, $space in $spaces {
        .#{$namespace}-pd-#{$type}-#{$name} {
          padding: $space;
        }

        .#{$namespace}-pt-#{$type}-#{$name} {
          padding-top: $space;
        }

        .#{$namespace}-pb-#{$type}-#{$name} {
          padding-bottom: $space;
        }

        .#{$namespace}-pl-#{$type}-#{$name} {
          padding-left: $space;
        }

        .#{$namespace}-pr-#{$type}-#{$name} {
          padding-right: $space;
        }

        .#{$namespace}-mg-#{$type}-#{$name} {
          margin: $space;
        }

        .#{$namespace}-mt-#{$type}-#{$name} {
          margin-top: $space;
        }

        .#{$namespace}-mb-#{$type}-#{$name} {
          margin-bottom: $space;
        }

        .#{$namespace}-ml-#{$type}-#{$name} {
          margin-left: $space;
        }

        .#{$namespace}-mr-#{$type}-#{$name} {
          margin-right: $space;
        }

        .#{$namespace}-top-#{$type}-#{$name} {
          top: $space;
        }

        .#{$namespace}-bottom-#{$type}-#{$name} {
          bottom: $space;
        }

        .#{$namespace}-left-#{$type}-#{$name} {
          left: $space;
        }

        .#{$namespace}-right-#{$type}-#{$name} {
          right: $space;
        }
      }
    }
  }
}

@mixin generate-display-clss {
  @each $name, $size in $mq {
    @include min-screen($size) {
      .#{$namespace}-d-block-#{$name} {
        display: block;
      }

      .#{$namespace}-d-none-#{$name} {
        display: none;
      }
    }
  }
}

@mixin generate-borders-clss {
  @each $name, $props in $borders {
    .#{$namespace}-border-#{$name} {
      border-width: #{$props};
      border-style: solid;
    }

    .#{$namespace}-border-top-#{$name} {
      border-top-width: #{$props};
      border-top-style: solid;
    }

    .#{$namespace}-border-bottom-#{$name} {
      border-bottom-width: #{$props};
      border-bottom-style: solid;
    }

    .#{$namespace}-border-left-#{$name} {
      border-left-width: #{$props};
      border-left-style: solid;
    }

    .#{$namespace}-border-right-#{$name} {
      border-right-width: #{$props};
      border-right-style: solid;
    }
  }
}

@include generate-color-clss;
@include generate-space-clss;
@include generate-display-clss;
@include generate-borders-clss;
