$mdc-layout-grid-breakpoints: (
  desktop: 1440px,
  laptop: 1024px,
  tablet: 768px,
  mobile: 0px
) !default;

$mdc-layout-grid-columns: (
  desktop: 12,
  laptop: 12,
  tablet: 6,
  mobile: 4
) !default;

$mdc-layout-grid-default-margin: (
  desktop: 40px,
  laptop: 38px,
  tablet: 34px,
  mobile: 16px
) !default;

$mdc-layout-grid-default-gutter: (
  desktop: 44px,
  laptop: 32px,
  tablet: 32px,
  mobile: 16px
) !default;

$mdc-layout-grid-column-width: (
  desktop: 73px,
  laptop: 50px,
  tablet: 90px,
  mobile: 60px
) !default;

$mdc-layout-grid-default-column-span: 4 !default;

@import '~@material/layout-grid/mdc-layout-grid';
