$laptop-edit: mq('laptop') - 1px;

@mixin svg-size {
  svg {
    @content;
  }
}

// Font types mixins
// -----------------------------------------------------

@mixin font-regular {
  font-family: 'NHaasGroteskTXPro-55Rg', sans-serif;
}

@mixin font-medium {
  font-family: 'NHaasGroteskTXPro-65Md', sans-serif;
}

// Font sizes mixins
// -----------------------------------------------------

@mixin size-big {
  font-size: fluid-unit(30px, 38px, mq('mobile'), $laptop-edit);
  line-height: fluid-unit(40px, 52px, mq('mobile'), $laptop-edit);

  @include min-screen(mq('laptop')) {
    font-size: 3.8rem;
    line-height: 5.2rem;
  }
}

@mixin size-large {
  font-size: fluid-unit(27px, 30px, mq('mobile'), $laptop-edit);
  line-height: fluid-unit(36px, 40px, mq('mobile'), $laptop-edit);

  @include min-screen(mq('laptop')) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

@mixin size-normal {
  font-size: 2.3rem;
  line-height: 3.2rem;
}

@mixin size-small {
  font-size: fluid-unit(17px, 19px, mq('mobile'), $laptop-edit);
  line-height: fluid-unit(28px, 32px, mq('mobile'), $laptop-edit);

  @include min-screen(mq('laptop')) {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

@mixin size-body {
  font-size: fluid-unit(16px, 17px, mq('mobile'), $laptop-edit);
  line-height: fluid-unit(25px, 28px, mq('mobile'), $laptop-edit);

  @include min-screen(mq('laptop')) {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

@mixin size-caption {
  font-size: 1.3rem;
  line-height: 2rem;
}
