// Basic reset for all
// ------------------------------

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
small {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

figure {
  margin: 0;
}

// Reset for namespace
// ------------------------------

.#{$namespace} {
  -mobile-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: $base-font-size;
  line-height: 1;
  -webkit-text-size-adjust: none;

  body {
    @include font-regular;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
  }

  &,
  body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  p {
    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
