// Font types classes
// -----------------------------------------------------

&-f-regular {
  @include font-regular;
}

&-f-medium {
  @include font-medium;
}

// Font sizes classes
// -----------------------------------------------------

&-fs-big {
  @include size-big;
}

&-fs-large {
  @include size-large;
}

&-fs-normal {
  @include size-normal;
}

&-fs-small {
  @include size-small;
}

&-fs-body {
  @include size-body;
}

&-fs-caption {
  @include size-caption;
}

// Set bold or strong tags for Medium Font
// -----------------------------------------------------

b,
strong {
  @include font-medium;

  font-weight: normal;
}
