// Text Utilities
// -------------------------------------------

&-u-t-center {
  text-align: center;
}

&-u-t-left {
  text-align: left;

  .#{$namespace}-tooltip--navbar & {
    padding-left: 1.5rem;
  }
}

&-u-t-uppercase {
  text-transform: uppercase;
}

&-u-t-lowercase {
  text-transform: none;
}

&-u-t-fw-normal {
  font-weight: normal;
}

&-u-t-fw-bold {
  font-weight: bold;
}

// Display Utilities
// -------------------------------------------

&-u-d-block {
  display: block;
}

&-u-d-none {
  display: none;
}

&-u-d-flex {
  display: flex;
}

// Flex Utilities
// -------------------------------------------

&-u-flex-direction--column {
  flex-direction: column;
}

// Others Utilities
// -------------------------------------------

&-u-list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

&-u-page {
  padding-top: $header-height-mobile + 3rem;

  @include min-screen(mq('tablet')) {
    padding-top: 0;
  }
}

&-u-h-100 {
  height: 100%;
}

&-u-w-100 {
  width: 100%;
}

// Align Margin Center
&-u-a-mg-center {
  margin-left: auto;
  margin-right: auto;
}

&-u-link {
  @include font-regular;

  color: color('dark-gray');
  transition: color 400ms ease-in-out;

  &:hover {
    color: color('black');
  }

  &--underline {
    text-decoration: underline;
  }
}

&-u-reset-vp {
  padding-top: 0;
  padding-bottom: 0;
}
