// Media Queries
// ----------------------------------------------------------

$mq: (
  'mobile': 320px,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1440px
);

// Guide Colors
// ----------------------------------------------------------

$colors: (
  'white': #fff,
  'black': #000,
  'gray': #dfdfdf,
  'dark-gray': #878787,
  'transparent': transparent
);

// Spaces
// ----------------------------------------------------------

$spaces: (
  '0': 0,
  '5': 0.5rem,
  '10': 1rem,
  '15': 1.5rem,
  '20': 2rem,
  '24': 2.4rem,
  '30': 3rem,
  '32': 3.2rem,
  '35': 3.5rem,
  '40': 4rem,
  '43': 4.3rem,
  '44': 4.4rem,
  '47': 4.7rem,
  '56': 5.6rem,
  '60': 6rem,
  '62': 6.2rem,
  '64': 6.4rem,
  '80': 8rem,
  '88': 8.8rem,
  '96': 9.6rem,
  '100': 10rem,
  '120': 12rem,
  '165': 16.5rem,
  '180': 18rem,
  '192': 192rem
);

// Borders
// ----------------------------------------------------------

$borders: (
  'thin': '1px'
);

// Default variables
// ----------------------------------------------------------

$base-font-size: 62.5%;
$namespace: 'tf';
$header-height-mobile: 8rem;
$header-height-desktop: 10.8rem;
