.#{$namespace}-home {
  position: relative;

  @include min-screen(mq('tablet')) {
    padding-bottom: spaces('64');
  }

  @include min-screen(mq('laptop')) {
    padding-bottom: spaces('88');
  }

  &__content {
    margin-top: calc(#{spaces('56')} - #{get-grid-margin('mobile')});

    @include min-screen(mq('tablet')) {
      margin-top: get-grid-margin('tablet');
    }

    @include min-screen(mq('laptop')) {
      margin-top: get-grid-margin('laptop');
    }

    @include min-screen(mq('desktop')) {
      margin-top: get-grid-margin('desktop');
    }
  }
}
