@import '~styles/core/index';

.wf-active {
  font-size: $base-font-size;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

.#{$namespace}-sg-colors {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 10vh;
    padding: 2rem;
    font-size: 1.4rem;
  }
}
