<!DOCTYPE html>
<html lang="pt_BR" class="<%= htmlWebpackPlugin.options.namespace %>">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=0">
  <meta http-equiv="cleartype" content="on">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <main class="<%= htmlWebpackPlugin.options.namespace %>-main"></main>
  <div class="<%= htmlWebpackPlugin.options.namespace %>-modal"></div>
</body>

</html>